<mat-dialog-content class="container">
  <h2><mat-icon>group</mat-icon> Nuevo Rol</h2>

  <!-- Nombre del Rol -->
  <form [formGroup]="rolForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del Rol *</mat-label>
      <input matInput formControlName="nombreRol">
    </mat-form-field>
  </form>

  <!-- Permisos Disponibles (Select) -->
  <div class="permisos-container">
    <h3>Permisos Disponibles</h3>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Permisos</mat-label>
      <mat-select formControlName="permisos" multiple (selectionChange)="onPermissionsChange($event)">
        <mat-option *ngFor="let permiso of permisosDisponibles" [value]="permiso.id">
          {{ permiso.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="openCreatePermissionDialog()">+ Añadir permiso</button>
  </div>

  <!-- Lista de Usuarios Asignados -->
  <h3>Usuarios Asignados</h3>
  <table mat-table [dataSource]="usuariosAsignados" class="mat-elevation-z8">
    <!-- Checkbox -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> <mat-checkbox></mat-checkbox> </th>
      <td mat-cell *matCellDef="let user">
        <mat-checkbox [(ngModel)]="user.selected"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Firstname -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let user"> {{ user.firstname }} </td>
    </ng-container>

    <!-- ID Empleado -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID Empleado </th>
      <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
    </ng-container>

    <!-- Tipo de Empleado -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo de Empleado </th>
      <td mat-cell *matCellDef="let user"> {{ user.type }} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrarDialog()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardarRol()">Crear</button>
</mat-dialog-actions>
