<div class="recovery-container">
  <div class="left-side">
    <img class="imagen-logo" src="assets/img/logo-conecta-2022-white-e1653084471172.png" alt="Logo de Conecta TH">
  </div>
  <mat-card class="recovery-card">
    <h2 class="title">Recuperar contraseña</h2>
    <p>Ingresa tu nueva contraseña.</p>
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirma tu Contraseña</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button class="submit-button" routerLink="/login" type="submit">Enviar</button>
      </div>
    </form>
  </mat-card>
</div>
<div class="bottom-container"></div>
