<div class="recovery-container">
  <div class="left-side">
    <img class="imagen-logo" src="assets/img/logo-conecta-2022-white-e1653084471172.png" alt="Logo de Conecta TH">
  </div>
  <mat-card class="recovery-card">
    <h2 class="title">Recuperar contraseña</h2>
    <p>Ingresa tu correo para recibir las instrucciones de recuperar contraseña.</p>
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <div class="actions">
        <button routerLink = '/new-pass' mat-raised-button class="submit-button" type="submit">Enviar</button>
      </div>
    </form>
  </mat-card>
</div>
<div class="bottom-container"></div>
