form {
  max-height: 80vh;
  overflow-y: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.form-grid {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-field img {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  display: block;
  margin: 10px auto;
}

input[type="file"] {
  display: none;
}

.image-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.image-upload-button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.image-upload-button:hover {
  background-color: #303f9f;
}

img {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border: 2px solid #ccc;
  display: block;
  margin-top: 10px;
}

input[type='file'] {
  margin-top: 10px;
  padding: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field.full-width {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field.full-width label {
  font-weight: bold;
}
.image-upload-wrapper img {
  cursor: pointer;
  border-radius: 50%;
  /* Mantiene la imagen circular */
  object-fit: cover;
  width: 200px;
  /* Cambia el ancho a 200px */
  height: 200px;
  /* Cambia la altura a 200px */
  border: 2px solid #ccc;
  /* Mantén el borde si es necesario */
}

.lb-img{
text-align: center;
  font-size: 16px;
  color: #000000;
  margin-top: 5px;
}

