.tabla-scroll {
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper {
  min-width: max-content;
}

.full-width {
  width: 100%;
  min-width: max-content; /* <-- esta línea es la clave del scroll */
}

thead th {
  background: #3f51b5;
  color: white;
  text-align: center;
}

th, td {
  white-space: nowrap;
  text-align: center;
  padding: 8px;
}

.name-with {
  width: 150px;
}

.grupo-dia {
  font-weight: bold;
  background-color: #3f51b5;
  color: white;
}
