<div class="agregar-usuario">
  <label for="seleccionUsuario">Agregar Usuario:</label>
  <select id="seleccionUsuario" (change)="agregarUsuarioDesdeSelect($event)">
    <option value="">-- Seleccionar --</option>
    <option *ngFor="let user of usuariosDisponibles" [value]="user.id">
      {{ user.firstname }} {{ user.lastname }}
    </option>
  </select>
</div>
<div class="tabla-scroll">
  <div class="tabla-wrapper">
    <table class="mat-elevation-z8 full-width">
      <!-- CABECERA -->
      <thead>
      <tr>
        <th rowspan="2">Usuario</th>
        <th rowspan="2">Sexo</th>
        <th rowspan="2">Desde</th>
        <th rowspan="2">Hasta</th>
        <ng-container *ngFor="let dia of diasLaborales">
          <th
            [attr.colspan]="getTurnosDelDia(dia.dia)?.length || 1"
            class="grupo-dia">
            {{ dia.dia }}<br />{{ dia.fecha }}
          </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dia of diasLaborales">
          <ng-container *ngIf="getTurnosDelDia(dia.dia); else celdaVacia">
            <ng-container *ngFor="let turno of getTurnosDelDia(dia.dia)">
              <th>{{ turno.code }}</th>
            </ng-container>
          </ng-container>
          <ng-template #celdaVacia>
            <th></th>
          </ng-template>
        </ng-container>
      </tr>
      </thead>

      <!-- FILAS DE USUARIOS -->
      <tbody>
      <tr *ngFor="let user of usuarios">
        <td class="usuario-cell">
          <ng-container *ngIf="!user.mostrandoSelect; else selectorUsuario">
    <span
      class="usuario-link"
      *ngIf="user.nombre === 'Ingresar Usuario'"
      (click)="user.mostrandoSelect = true">
      Ingresar Usuario
    </span>
            <span *ngIf="user.nombre !== 'Ingresar Usuario'">{{ user.nombre }}</span>
          </ng-container>

          <ng-template #selectorUsuario>
            <select class="usuario-select" #selectRef (change)="asignarUsuario(selectRef.value, user)">
              <option value="">-- Seleccionar usuario --</option>
              <option *ngFor="let u of usuariosDisponibles" [value]="u.id">
                {{ u.firstname }} {{ u.lastname }}
              </option>
            </select>
          </ng-template>
        </td>
      <td>{{ user.sexo }}</td>
        <td>{{ user.desde }}</td>
        <td>{{ user.hasta }}</td>

        <ng-container *ngFor="let dia of diasLaborales">
          <ng-container *ngIf="getTurnosDelDia(dia.dia); else celdasVacias">
            <ng-container *ngFor="let turno of getTurnosDelDia(dia.dia)">
              <td>
                <input
                  [(ngModel)]="user.turnos[dia.id][turno.code]"
                  [ngModelOptions]="{ standalone: true }"
                  [placeholder]="getPlaceholder(turno)"
                  class="hora-input"
                />
              </td>
            </ng-container>
          </ng-container>
          <ng-template #celdasVacias>
            <td></td>
          </ng-template>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
