<div class="tabla-scroll">
  <div class="tabla-wrapper">
    <table class="mat-elevation-z8 full-width">
      <!-- CABECERA -->
      <thead>
      <tr>
        <th rowspan="2">Usuario</th>
        <th rowspan="2">Sexo</th>
        <th rowspan="2">Desde</th>
        <th rowspan="2">Hasta</th>
        <ng-container *ngFor="let dia of diasLaborales">
          <th [attr.colspan]="turnos.length" class="grupo-dia">
            {{ dia.dia }}<br />{{ dia.fecha }}
          </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let dia of diasLaborales">
          <th *ngFor="let turno of turnos">{{ turno.code }}</th>
        </ng-container>
      </tr>
      </thead>

      <!-- FILAS DE USUARIOS -->
      <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.nombre }}</td>
        <td>{{ user.sexo }}</td>
        <td>{{ user.desde }}</td>
        <td>{{ user.hasta }}</td>

        <ng-container *ngFor="let dia of diasLaborales">
          <ng-container *ngFor="let turno of turnos">
            <td>
              <input
                [(ngModel)]="user.turnos[dia.id][turno.code]"
                [ngModelOptions]="{ standalone: true }"
                [placeholder]="getPlaceholder(turno)"
                class="hora-input" />
            </td>
          </ng-container>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
